[DEFAULT]
base = {{ base }}
base_tag = {{ base_tag }}
install_type = {{ install_type }}
namespace = osism
openstack_release = stein
push = false
tag = latest
threads = 16

#########################################################################
# sources tracked in release repository

# openstack projects

{% for project in projects %}
{% if project.name not in ['horizon', 'neutron-lbaas-agent', 'neutron-vpnaas-agent'] %}
[{{ project.name }}-base]
{% else %}
[{{ project.name }}]
{% endif %}
type = local
# tarball = https://tarballs.openstack.org/{{ project.repository }}/{{ project.repository }}-{{ project.version }}.tar.gz
location = tarballs/{{ project.repository }}-{{ project.version }}.tar.gz
{% endfor %}

# plugins for horizon
{% for project in horizon_plugins %}
[horizon-plugin-{{ project.name }}]
type = local
# tarball = https://tarballs.openstack.org/{{ project.repository }}/{{ project.repository }}-{{ project.version }}.tar.gz
location = tarballs/{{ project.repository }}-{{ project.version }}.tar.gz
{% endfor %}

# plugins (base) for neutron
{% for project in neutron_base_plugins %}
[neutron-base-plugin-{{ project.name }}]
type = local
# tarball = https://tarballs.openstack.org/{{ project.repository }}/{{ project.repository }}-{{ project.version }}.tar.gz
location = tarballs/{{ project.repository }}-{{ project.version }}.tar.gz
{% endfor %}

# plugins (server) for neutron
{% for project in neutron_server_plugins %}
[neutron-server-plugin-{{ project.name }}]
type = local
# tarball = https://tarballs.openstack.org/{{ project.repository }}/{{ project.repository }}-{{ project.version }}.tar.gz
location = tarballs/{{ project.repository }}-{{ project.version }}.tar.gz
{% endfor %}

# plugins for ceilometer
{% for project in ceilometer_base_plugins %}
[ceilometer-base-plugin-{{ project.name }}]
type = local
# tarball = https://tarballs.openstack.org/{{ project.repository }}/{{ project.repository }}-{{ project.version }}.tar.gz
location = tarballs/{{ project.repository }}-{{ project.version }}.tar.gz
{% endfor %}

# unpatched projects

[openstack-base]
type = url
location = https://tarballs.openstack.org/requirements/requirements-stable-{{ openstack_release }}.tar.gz

[gnocchi-base]
type = git
reference = "{{ gnocchi_version }}"
location = https://github.com/gnocchixyz/gnocchi.git

[novajoin-base]
type = local
# tarball = https://tarballs.openstack.org/novajoin/novajoin-{{ novajoin_version }}.tar.gz
location = tarballs/novajoin-{{ novajoin_version }}.tar.gz
