[DEFAULT]
base = {{ base }}
base_package_type = deb
base_tag = {{ base_tag }}
install_type = {{ install_type }}
namespace = osism
openstack_release = victoria
push = false
tag = latest
threads = 4

#########################################################################
# sources tracked in release repository

# openstack projects

{% for project in projects %}
{% if project.name not in ['horizon', 'neutron-vpnaas-agent'] %}
[{{ project.name }}-base]
{% else %}
[{{ project.name }}]
{% endif %}
type = local
# tarball = https://tarballs.opendev.org/openstack/{{ project.repository }}/{{ project.repository }}-{{ project.version }}.tar.gz
location = tarballs/{{ project.repository }}-{{ project.version }}.tar.gz
{% endfor %}

# unpatched projects

[openstack-base]
type = url
location = https://tarballs.opendev.org/openstack/requirements/requirements-stable-{{ openstack_release }}.tar.gz

[gnocchi-base]
type = git
reference = "{{ gnocchi_version }}"
location = https://github.com/gnocchixyz/gnocchi.git

[novajoin-base]
type = local
# tarball = https://tarballs.opendev.org/openstack/novajoin/novajoin-{{ novajoin_version }}.tar.gz
location = tarballs/novajoin-{{ novajoin_version }}.tar.gz
