Package: rabbitmq-server
Pin: version 3.11.*
Pin-Priority: 1000

Package: erlang*
Pin: origin packages.erlang-solutions.com
Pin-Priority: 1000

Package: openvswitch*
Pin: version 3.1.*
Pin-Priority: 1000
