[DEFAULT]
base = {{ base }}
base_package_type = deb
base_tag = {{ base_tag }}
install_type = {{ install_type }}
namespace = {{ namespace }}
openstack_release = {{ openstack_release }}
push = false
tag = latest
threads = 1

#########################################################################
# sources tracked in release repository

{%- for project in projects %}
{% if project.name not in ['horizon', 'neutron-vpnaas-agent', 'neutron-dynamic-routing'] %}
[{{ project.name }}-base]
{% elif project.name == 'neutron-dynamic-routing' %}
[neutron-bgp-dragent]
{% else %}
[{{ project.name }}]
{% endif -%}
type = local
# tarball = https://tarballs.opendev.org/openstack/{{ project.repository }}/{{ project.repository }}-{{ project.version }}.tar.gz
location = tarballs/{{ project.repository }}-{{ project.version }}.tar.gz

{% if project.name == 'neutron-dynamic-routing' %}
[neutron-server-plugin-neutron-dynamic-routing]
type = local
# tarball = https://tarballs.opendev.org/openstack/{{ project.repository }}/{{ project.repository }}-{{ project.version }}.tar.gz
location = tarballs/{{ project.repository }}-{{ project.version }}.tar.gz
{% endif %}
{%- endfor %}

[gnocchi-base]
type = git
reference = "{{ gnocchi_version }}"
location = https://github.com/gnocchixyz/gnocchi.git
