[DEFAULT]
base = {{ base }}
base_package_type = deb
base_tag = {{ base_tag }}
install_type = {{ install_type }}
namespace = {{ namespace }}
openstack_release = {{ openstack_release }}
push = false
tag = latest
threads = 1

#########################################################################
# sources tracked in release repository

{%- for project in projects %}
{% if project.name not in ['horizon', 'neutron-vpnaas-agent'] %}
[{{ project.name }}-base]
{% else %}
[{{ project.name }}]
{% endif -%}
type = local
{% if project.repository == "openstack-heat" %}
# tarball = https://tarballs.opendev.org/openstack/heat/{{ project.repository }}-{{ project.version }}.tar.gz
{% elif project.repository == "kuryr-lib" %}
# tarball = https://tarballs.opendev.org/openstack/kuryr/{{ project.repository }}-{{ project.version }}.tar.gz
{% elif project.repository == "openstack-placement" %}
# tarball = https://tarballs.opendev.org/openstack/placement/{{ project.repository }}-{{ project.version }}.tar.gz
{% else %}
# tarball = https://tarballs.opendev.org/openstack/{{ project.repository }}/{{ project.repository }}-{{ project.version }}.tar.gz
{% endif -%}
location = tarballs/{{ project.repository }}-{{ project.version }}.tar.gz
{%- endfor %}

[gnocchi-base]
type = git
reference = "{{ gnocchi_version }}"
location = https://github.com/gnocchixyz/gnocchi.git
