Package: rabbitmq-server
Pin: version 3.13.*
Pin-Priority: 1000

Package: openvswitch*
Pin: version 3.4.*
Pin-Priority: 1000

Package: mariadb-* libmariadb* mysql-common
Pin: version 1:10.11.16*
Pin-Priority: 1001
