Package: elasticsearch
Pin: version {{ infrastructure_projects.elasticsearch }}
Pin-Priority: 1001

Package: kibana
Pin: version {{ infrastructure_projects.kibana }}
Pin-Priority: 1001

Package: rabbitmq-server
Pin: version {{ infrastructure_projects.rabbitmq }}
Pin-Priority: 1001
