# FIXME Workaround for https://bugs.launchpad.net/kolla/+bug/1759796
Package: dh-python
Pin: version 2.20151103ubuntu1
Pin-Priority: 550

# We want Ceph/Luminous
Package: ceph* *cephfs* librbd* *rados* python-rbd librgw*
Pin: version 13.*
Pin-Priority: -1

Package: elasticsearch
Pin: version {{ infrastructure_projects.elasticsearch }}
Pin-Priority: 1001

Package: kibana
Pin: version {{ infrastructure_projects.kibana }}
Pin-Priority: 1001

Package: td-agent
Pin: version {{ infrastructure_projects.fluentd }}*
Pin-Priority: 1001

Package: rabbitmq-server
Pin: version {{ infrastructure_projects.rabbitmq }}*
Pin-Priority: 1001

Package: erlang*
Pin: release o=Bintray
Pin-Priority: 1000
