---
- name: Build images
  hosts: all

  vars:
    docker_registry: osism.harbor.regio.digital

  tasks:
    - name: Log into registry
      community.docker.docker_login:
        registry_url: "{{ docker_registry }}"
        username: "{{ secret.DOCKER_USERNAME }}"
        password: "{{ secret.DOCKER_PASSWORD }}"
      when: push_images | bool

    - name: Run build script
      ansible.builtin.shell:
        executable: /bin/bash
        chdir: "{{ zuul.project.src_dir }}"
        cmd: |
          set -e
          set -x

          export PATH=/home/zuul/.local/bin:$PATH

          echo $COMMIT_MESSAGE

          bash scripts/001-prepare.sh
          bash scripts/002-generate.sh
          bash scripts/003-patch.sh
          bash scripts/004-build.sh
          bash scripts/005-tag.sh
      changed_when: false
      environment:
        BASE_ARCH: "{{ base_arch | default('x86_64') }}"
        DOCKER_NAMESPACE: "{{ docker_namespace }}"
        DOCKER_REGISTRY: "{{ docker_registry }}"
        IS_RELEASE: "{{ is_release | default(false) }}"
        OPENSTACK_VERSION: "{{ version_openstack | default('latest') }}"
        VERSION: "{{ zuul['tag'] | default('latest') }}"
        COMMIT_MESSAGE: "{{ zuul['change_message'] | default('') }}"

    - name: Run push script
      ansible.builtin.shell:
        executable: /bin/bash
        chdir: "{{ zuul.project.src_dir }}"
        cmd: |
          set -e
          set -x

          export PATH=/home/zuul/.local/bin:$PATH

          bash scripts/100-push.sh
          bash scripts/120-check-and-repush.sh -c -v
          bash scripts/130-cosign.sh
      changed_when: false
      environment:
        COSIGN_PASSWORD: "{{ secret.COSIGN_PASSWORD }}"
        COSIGN_PRIVATE_KEY: "{{ secret.COSIGN_PRIVATE_KEY }}"
      when:
        - push_images | bool
        - not is_release | default(false) | bool

    - name: Run release push script
      ansible.builtin.shell:
        executable: /bin/bash
        chdir: "{{ zuul.project.src_dir }}"
        cmd: |
          set -e
          set -x

          export PATH=/home/zuul/.local/bin:$PATH

          bash scripts/110-release.sh
          bash scripts/120-check-and-repush.sh -c -v
          bash scripts/130-cosign.sh
      changed_when: false
      environment:
        COSIGN_PASSWORD: "{{ secret.COSIGN_PASSWORD }}"
        COSIGN_PRIVATE_KEY: "{{ secret.COSIGN_PRIVATE_KEY }}"
      when:
        - push_images | bool
        - is_release | default(false) | bool
