---
- name: Pin docker version
  hosts: all

  vars:
    docker_package_name: docker-ce
    docker_version: "5:28.5.2"
    docker_cli_version: "5:28.5.2"

  tasks:
    - name: Pin docker package version
      become: true
      ansible.builtin.copy:
        content: |
          Package: {{ docker_package_name }}
          Pin: version {{ docker_version }}*
          Pin-Priority: 1001
        dest: /etc/apt/preferences.d/docker
        mode: 0644

    - name: Pin docker-cli package version
      become: true
      ansible.builtin.copy:
        content: |
          Package: {{ docker_package_name }}-cli
          Pin: version {{ docker_cli_version }}*
          Pin-Priority: 1001
        dest: /etc/apt/preferences.d/docker-cli
        mode: 0644

- name: Run preparations
  hosts: all

  vars:
    python_venv_dir: /tmp/venv

  roles:
    - ensure-docker
    - ensure-pip

  tasks:
    - name: Install required packages
      become: true
      ansible.builtin.apt:
        name:
          - jq
          - parallel
          - python3-requests
          - skopeo

    - name: Enable dockerd exerpimental features
      become: true
      ansible.builtin.copy:
        content: |
          {
            "experimental": true,
            "max-concurrent-uploads": 20
          }
        dest: /etc/docker/daemon.json
        owner: root
        group: root
        mode: 0644

    - name: Restart docker service
      become: true
      ansible.builtin.service:
        name: docker
        state: restarted

    - name: Install requirements
      ansible.builtin.pip:
        requirements: "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/requirements.txt"
        virtualenv: "{{ python_venv_dir }}"
        virtualenv_command: "python3 -m venv"
